.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
*.pyc
.ipynb_checkpoints/

lightning_logs/
site/
out*/
wandb/
build/
dist/
flagged/
logs/
datasets/*/*
!datasets/*/*.py
!datasets/*/*.ipynb
!datasets/*/*.md
pretrained_models/*
virtual_worlds/*

TODO.txt
CODING_GUIDELINES.md
TODO.md

*.egg-info/
**/*.egg-info/



