.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
*.pyc
.ipynb_checkpoints/
.gradio/

lightning_logs/
site/
wandb/
build/
dist/
flagged/
logs/
datasets/*/*
!datasets/*/*.py
!datasets/*/*.ipynb
!datasets/*/*.md
pretrained_models/*
virtual_worlds/*
outputs/
storage/
resource/
configs/

configs/llm_api_keys.yaml

TODO.txt
CODING_GUIDELINES.md
TODO.md
ROADMAP.md
directory_tree.txt

uploads/*/*
!uploads/README.md

*.egg-info/
**/*.egg-info/

.env



