.DS_Store
**/.DS_Store
.ipynb_checkpoints/
__pycache__/
**/__pycache__/
*.pyc
out*/
wandb/
TODO.txt
.DS_Store

datasets/*/*
!datasets/*/*.py
!datasets/*/*.ipynb
!datasets/*/*.md

pretrained_models/*

CODING_GUIDELINES.md

*.egg-info/
**/*.egg-info/

lightning_logs/
**/lightning_logs/


